.info-container {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 95%;
  position: fixed;
  top: 0;
}

.info-content {
  color: white;
  margin: 10vw auto;
  width: 50vw;
  overflow: auto;
}

.info-content p {
  margin: 10px 0;
  font-size: 1rem;
}

.info-content .btn-info {
  display: block;
  margin: 50px auto;
  height: 40px;
  background-color: rgb(49, 179, 49);
  font-size: 1.5rem;
  border: none;
  color: white;
  border-radius: 5px;
}

.info-content .btn-info:hover {
  background-color: rgb(103, 221, 103);
}

.info-content select {
  margin: 20px 10px;
}
