.milestone-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.milestone-list p {
  text-decoration: underline;
}

.milestone-list-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100px;
}

.milestone-list-item li {
  list-style: inside;
  margin-left: 15px;
  line-height: 15px;
}

.milestone-list-item li::marker {
  color: #0997ff;
  margin-right: 0;
}

.milestone-title {
  margin-top: 10px;
}

@media (min-width: 12cm) {
  .milestone-list {
    max-height: 300px;
  }
}
@media (min-width: 550px) {
  .milestone-list {
    max-height: 200px;
  }
}
