.skills img {
  max-height: 40px;
  flex: 1 1 auto;
}

.skills .figures-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  margin: 5px;
}

figcaption {
  font-weight: bold;
  font-size: 0.8rem;
  flex: 1 1 auto;
  margin: 2px;
}
