.main {
  flex: 2;
}

.main h2 {
  border-bottom: 0.5px solid;
  color: rgb(49, 46, 46);
}

.box-list strong {
  color: black;
  font-weight: bold;
}

.box-list ul {
  font-size: 0.8rem;
  font-weight: 300;
}

.milestone-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
}

.milestone-list-item li {
  list-style: inside;
  margin-left: 15px;
  line-height: 15px;
}

.milestone-list-item li::marker {
  color: #0997ff;
  margin-right: 0;
}
