.main {
  flex: 2;
}

.main h2 {
  border-bottom: 0.5px solid;
  color: rgb(49, 46, 46);
}

.box-list strong {
  color: black;
  font-weight: bold;
}

.box-list ul {
  font-size: 0.8rem;
  font-weight: 300;
}
