.settings-panel {
  background-color: #201c1c;
  color: goldenrod;
  flex: 1 1 auto;
}

.settings-box {
  width: 100%;
  margin: 10px auto 30px;
}
.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.settings-btn {
  border: none;
}

.active {
  background-color: #76f37b;
}
