.settings-container {
  background-color: #201c1c;
  flex: 1 1 auto;
}
.settings-panel {
  position: sticky;
  top: 10px;
  margin: 0 10px;
}

.settings-box {
  width: 100%;
  margin: 10px auto 30px;
}
.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.settings-btn {
  border: none;
}

.active {
  background-color: #76f37b;
}
