.settings-container {
  background-color: #201c1c;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.settings-panel {
  top: 10px;
  margin: 0 10px;
}

.settings-box {
  width: 100%;
  margin: 10px auto 30px;
}
.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.settings-btn {
  border: none;
}

.active {
  background-color: #76f37b;
}

.menu-btn {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

.menu-btn i {
  font-size: 1.5rem;
}
