.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e4e4e4;
}

#photo {
  display: block;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  margin: 10px auto;
}

#profesion {
  font-weight: lighter;
  font-size: 1.2rem;
  text-align: center;
}
