.App {
  padding: 100px 0;
  background-image: linear-gradient(rgb(14 9 9), #3894d1);
  height: fit-content;
}
@media only print {
  .App {
    padding: 0;
  }
}
#curriculum {
  display: flex;
  min-height: 29.6cm;
  width: 21cm;
  background-color: #eceeef;
  margin: 0 auto;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
}

.box {
  margin: 0;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px 0;
  flex: 1 1 auto;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 0 0 20px;
}

h2 {
  text-transform: uppercase;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10px;
  color: white;
}

ul {
  font-size: 0.9rem;
  list-style-type: none;
  padding: 0;
  line-height: 1.5rem;
}

p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: normal;
}

a {
  color: inherit;
  margin-left: 5px;
}
a:visited {
  color: inherit;
}
a:hover {
  font-weight: 500;
}

button {
  height: 20px;
}

@media only screen and (max-width: 21cm) {
  .App {
    padding: 0;
  }
  #curriculum {
    flex-direction: column;
  }
  .column {
    width: 100vw;
  }

  .hidden {
    display: inline !important;
  }
}
