.App {
  display: flex;
  width: 100%;
}

#curriculum {
  display: flex;
  height: 29.6cm;
  width: 21cm;
  background-color: #eceeef;
}

.column {
  display: flex;
  flex-direction: column;
}

.box {
  margin: 0;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px 0;
  flex: 1 0 auto;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 0 0 20px;
}

h2 {
  text-transform: uppercase;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10px;
  color: white;
}

h3 {
  margin-top: 10px;
}

ul {
  font-size: 0.9rem;
  list-style-type: none;
  padding: 0;
  line-height: 1.5rem;
}

p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: normal;
}

a {
  color: inherit;
  margin-left: 5px;
}
a:visited {
  color: inherit;
}
a:hover {
  font-weight: 500;
}

button {
  height: 20px;
}
